<div class="menu-container">
  <div class="header">
    <h3>Choose your recipes as your daily menu:</h3>
  </div>

  <div class="form-section">
    <!-- Супи -->
    <div class="input-container">
      <label>Soups:</label>
      <input 
        type="text"
        (input)="filterItems($any($event.target).value, 'soups')" 
        [(ngModel)]="selectedMenu['soup']" 
        (focus)="showDropdown('soups')"
        (blur)="hideDropdown('soups')"
        placeholder="Choose soup"
      >
      <div *ngIf="dropdownVisible['soups'] && filteredSoups.length" class="custom-dropdown">
        <div *ngFor="let soup of filteredSoups" 
             (mousedown)="selectItem('soup', soup.name)" 
             class="dropdown-item">
          {{ soup.name }}
        </div>
      </div>
    </div>

    <!-- Десерти -->
    <div class="input-container">
      <label>Dessert:</label>
      <input 
        type="text"
        (input)="filterItems($any($event.target).value, 'dessert')" 
        [(ngModel)]="selectedMenu['dessert']" 
        (focus)="showDropdown('dessert')"
        (blur)="hideDropdown('dessert')"
        placeholder="Choose dessert"
      >
      <div *ngIf="dropdownVisible['dessert'] && filteredDesserts.length" class="custom-dropdown">
        <div *ngFor="let dessert of filteredDesserts" 
             (mousedown)="selectItem('dessert', dessert.name)" 
             class="dropdown-item">
          {{ dessert.name }}
        </div>
      </div>
    </div>

    <!-- Напитки -->
    <div class="input-container">
      <label>Drinks:</label>
      <input 
        type="text"
        (input)="filterItems($any($event.target).value, 'filteredDrinks')" 
        [(ngModel)]="selectedMenu['drink']" 
        (focus)="showDropdown('drink')"
        (blur)="hideDropdown('drink')"
        placeholder="Choose drink"
      >
      <div *ngIf="dropdownVisible['drink'] && filteredDrinks.length" class="custom-dropdown">
        <div *ngFor="let drink of filteredDrinks" 
             (mousedown)="selectItem('drink', drink.name)" 
             class="dropdown-item">
          {{ drink.name }}
        </div>
      </div>
    </div>

    <!-- Салати -->
    <div class="input-container">
      <label>Salads:</label>
      <input 
        type="text"
        (input)="filterItems($any($event.target).value, 'filteredSalads')" 
        [(ngModel)]="selectedMenu['salad']" 
        (focus)="showDropdown('salad')"
        (blur)="hideDropdown('salad')"
        placeholder="Choose salad"
      >
      <div *ngIf="dropdownVisible['salad'] && filteredSalads.length" class="custom-dropdown">
        <div *ngFor="let salad of filteredSalads" 
             (mousedown)="selectItem('salad', salad.name)" 
             class="dropdown-item">
          {{ salad.name }}
        </div>
      </div>
    </div>

    <button (click)="submitMenu()">Select</button>
  </div>
</div>