/* Падащи менюта */
.menu-selectors {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
  }
  
  .menu-selectors select {
    padding: 10px;
    font-size: 1.2rem;
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menu-selectors select:hover {
    background-color: #e0e0e0;
  }