

<div class="menu-container">
  <h1>{{ title }}</h1>
  <h2 class="page-title">Your fevourite menu for your meal today </h2>

  <button class="home-button" routerLink="/">
    <i class="material-icons">home</i>Home Page
  </button>
  <!-- Супи -->
  <div class="menu-section">
    <h3 class="menu-title">Your selected Soup: {{ selectedMenu.soup ? selectedMenu.soup : "not selected" }}</h3>
    <div class="section-content">
      <div class="ingredients">
        <p *ngIf="soupDetails">{{ soupDetails.ingredients }}</p>
      </div>
      <div class="description">
        <p *ngIf="soupDetails">{{ soupDetails.description }}</p>
      </div>
      <div class="image-placeholder">Soup Picture</div>
    </div>
  </div>

  <!-- Десерт -->
  <div class="menu-section">
    <h3 class="menu-title">Your selected Dessert: {{ selectedMenu.dessert ? selectedMenu.dessert : "not selected" }}</h3>
    <div class="section-content">
      <div class="ingredients">
        <p *ngIf="dessertDetails">{{ dessertDetails.ingredients }}</p>
      </div>
      <div class="description">
        <p *ngIf="dessertDetails">{{ dessertDetails.description }}</p>
      </div>
      <div class="image-placeholder">Dessert Picture</div>
    </div>
  </div>

  <!-- Напитка -->
  <div class="menu-section">
    <h3 class="menu-title">Your selected Drink: {{ selectedMenu.drink ? selectedMenu.drink : "not selected" }}</h3>
    <div class="section-content">
      <div class="ingredients">
        <p *ngIf="drinkDetails">{{ drinkDetails.ingredients }}</p>
      </div>
      <div class="description">
        <p *ngIf="drinkDetails">{{ drinkDetails.description }}</p>
      </div>
      <div class="image-placeholder">Drink Picture</div>
    </div>
  </div>

  <!-- Салата -->
  <div class="menu-section">
    <h3 class="menu-title">Your selected Salad: {{ selectedMenu.salad ? selectedMenu.salad : "not selected" }}</h3>
    <div class="section-content">
      <div class="ingredients">
        <p *ngIf="saladDetails">{{ saladDetails.ingredients }}</p>
      </div>
      <div class="description">
        <p *ngIf="saladDetails">{{ saladDetails.description }}</p>
      </div>
      <div class="image-placeholder">Salad Picture</div>
    </div>
  </div>
     <!-- най-долна част , за инфо на приложението -->
     <div class="footer">
      <a routerLink="/contact-info" class="about-link">
        <h2> 🔗 About Us 🔗  </h2>
      </a>
      <p class="nadpis">Follow us on social media:</p>
      <div class="social-icons">
        <img src="assets/images/logos/facebook.jpg" alt="Facebook">
        <img src="assets/images/logos/instagram.jpg" alt="Instagram">
        <img src="assets/images/logos/youtube.jpg" alt="YouTube">
        <img src="assets/images/logos/pinterest.jpg" alt="Pinterest">
      </div>
    </div>
    
    <div class="site-footer">
      <p>© 2024 MyRecipeBook. All rights reserved.</p>
      <p class="project-note">Project for demonstration purposes.</p>
    </div>
</div>