<div class="page-wrapper">
    <h1>{{ title }}</h1>
  
    <!-- средна част за стилизиране -->
    <div class="admin-panel">
      <p>Логнат като:"{{ userName }}"</p>
      <!-- <h1>Админ Панел</h1> -->

      <div class="admin-register-container">
        <button (click)="showAdminForm = !showAdminForm" class="toggle-btn">
            {{ showAdminForm ? 'Скрий регистрацията' : 'Регистрирай Админ или Потребител' }}
        </button>
    
        <div  *ngIf="showAdminForm"  class="checkbox-box">
            <input type="checkbox" [(ngModel)]="isAdmin" id="adminCheck">
            <label for="adminCheck">Регистрация като администратор</label>
        </div>
    </div>    
    <!-- Показва регистрационната форма само ако showAdminForm е true -->
    <app-register-form-component-my-sql *ngIf="showAdminForm" [isAdmin]="isAdmin"></app-register-form-component-my-sql>
    <hr *ngIf="showAdminForm">

      <!-- таблици -->
      <h2>Управление на потребители</h2>
      <table>
        <tr>
          <th>ID</th>
          <th>Име</th>
          <th>Имейл</th>
          <th>Роля</th>
          <th>Действия</th>
        </tr>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <button (click)="deleteUser(user.id)">Изтрий</button>
          </td>
        </tr>
      </table>
    
      <br>
      <hr>
      <h2>Управление на рецепти</h2>
      <table>
        <tr>
          <th>Автор рецепта</th>
          <th>Име Рецепта</th>
          <th>Съставки</th>
          <th>Начин приготвяне</th>
          <th>Действия</th>
        </tr>
        
        <tr *ngFor="let recipe of recipes">
          <td>{{ recipe.author }}</td>
          <td>{{ recipe.recipeName }}</td>
          <td>{{ recipe.ingredients }}</td>
          <td>{{ recipe.description }}</td>
          <td>
            <button (click)="editRecipe(recipe)">Редактирай</button>
            <button (click)="deleteRecipe(recipe.id)">Изтрий</button>
          </td>
        </tr>
      </table>

      <!-- редактиране на рецепти -->
      <div *ngIf="showEditForm">
        <h3>Редактиране на рецепта</h3>
        <label>Име:</label>
        <input [(ngModel)]="selectedRecipe.recipeName" />
      
        <label>Съставки:</label>
        <input [(ngModel)]="selectedRecipe.ingredients" />
      
        <label>Описание:</label>
        <textarea [(ngModel)]="selectedRecipe.description"></textarea>
      
        <button (click)="updateRecipe()">Запази</button>
        <button (click)="cancelEdit()">Откажи</button>
      </div>

    
      <button routerLink="/">⬅ Върни се към началната страница</button>
    </div>
      
    <!-- Долна част стилизирана не я барам -->
     <div class="footer">
      <h2>За нас</h2>
      <p>Следвайте ни в социалните мрежи:</p>
      <div class="social-icons">
        <img src="assets/images/logos/download.jpg" alt="Facebook">
        <img src="instagram-icon.png" alt="Instagram">
        <img src="youtube-icon.png" alt="YouTube">
        <img src="pinterest-icon.png" alt="Pinterest">
      </div>
    </div>
  </div>