<div class="login-container">
  <h2>Login</h2>
  
  <div class="input-group">
    <label for="email">E-mail:</label>
    <input id="email" [(ngModel)]="email" type="email" placeholder="Your E-mail:">
  </div>

  <div class="input-group">
    <label for="password">Password:</label>
    <input id="password" [(ngModel)]="password" type="password" placeholder="Please fill your password">
  </div>

  <div class="button-group">
    <button (click)="login()">Login</button>
    <button routerLink="/register" class="register-button">Register</button>
  </div>
</div>
