<div class="login-container">
  <h2>Вход</h2>
  
  <div class="input-group">
    <label for="email">Имейл:</label>
    <input id="email" [(ngModel)]="email" type="email" placeholder="Въведете имейл">
  </div>

  <div class="input-group">
    <label for="password">Парола:</label>
    <input id="password" [(ngModel)]="password" type="password" placeholder="Въведете парола">
  </div>

  <div class="button-group">
    <button (click)="login()">Вход</button>
    <button routerLink="/register" class="register-button">Регистрация</button>
  </div>
</div>
