<section class="blog">
    <h2>Discover Our Featured Recipes</h2>
    <p>Explore these delicious recipes that will transform your cooking experience</p>
    

    <div class="cards">
      <div class="card" *ngFor="let recipe of recipes">
        <img [src]="recipe.image" [alt]="recipe.title" />
        <div class="overlay">
          <div class="overlay-content"> <!-- Добавен нов контейнер -->
            <h3>{{recipe.title}}</h3>
            <p>{{recipe.description}}</p>
          </div>
        </div>
      </div>
    </div>
  
    <p>
      Try these recipes today and bring restaurant-quality meals to your home kitchen!
    </p>
  </section>