@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Mooli&display=swap");

:host {
  display: block;
}

.blog {
  position: relative;
  padding: 20px 20px 20px;
  border-radius: 9px;
  background: #f6f0e7;
}

.blog h2 {
  font-family: "Comfortaa", cursive;
  font-size: clamp(2rem, 6vw, 3rem);
  color: #000;
  margin: 30px 0 20px;
  text-align: center;
}

.blog p {
  font-family: "Mooli", sans-serif;
  font-size: clamp(1rem, 6vw, 1.3rem);
  color: #000;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.5;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 10px;
    background: #f6f0e7;
    max-width: 1500px;
    margin: 0 auto;
  }
  
  .card {
    position: relative;
    width: min(100%, 450px);
    background-color: #fff;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
    margin: 20px 0;
  }
  
  .card img {
    display: block;
    width: 100%;
    height: 350px; /* Фиксирана височина за всички снимки */
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to bottom,
      rgba(240, 248, 235, 0.95),
      rgba(221, 240, 203, 0.92),
      rgba(193, 225, 168, 0.9),
      rgba(158, 208, 128, 0.87),
      rgba(123, 188, 100, 0.85)
    );
    border-radius: 20px;
    z-index: 2;
    opacity: 0;
    padding: 30px;
    transition: all 0.4s ease-in-out;
    overflow-y: auto; /* Добавяме скролбар ако текста е много дълъг */
  
    .overlay-content {
        width: 90%;
        max-width: 100%;
        padding: 0 5%;
        
        h3 {
          text-align: center;
          margin-bottom: 20px;
        }
        
        p {
          text-align: left;
          text-align: justify;
          hyphens: auto; /* Автоматично пренасяне на думи */
          word-break: break-word; /* Предотвратява излизане извън контейнера */
          line-height: 1.6;
          padding: 0;
        }
      }
    }
  
  .overlay:hover {
    opacity: 1;
  }

/* Responsive adjustments */
@media (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr;
    padding: 40px 20px;
  }

  .card {
    width: min(100%, 350px);
    padding: 20px 30px;
  }

  .card h3 {
    font-size: 1.2rem;
  }

  .overlay p {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .blog {
    padding: 90px 10px 20px;
  }

  .card {
    padding: 15px 20px;
  }

  /* .card img {
  }

  .overlay {
  } */
}