<div class="page-wrapper">
    <h1>{{ title }}</h1>  
    
    <!-- средна част за стилизиране -->
    <h2>Administrate your recipes in Online DB</h2>
    <p>Add your new recipe User: {{ userName }}</p>

    <form (ngSubmit)="saveRecipe()">
      <input type="text" placeholder="Recipe Name:" [(ngModel)]="newRecipe.recipe_name" name="name" required />
      <textarea placeholder="Ingredients:" [(ngModel)]="newRecipe.ingredients" name="ingredients"></textarea>
      <textarea placeholder="Description:" [(ngModel)]="newRecipe.description" name="description"></textarea>
      <button type="submit">Save</button>
      <button (click)="goBack()">Back to Home Page</button>
    </form>

  
    <!-- Долна част стилизирана не я барам -->
    <div class="footer">
      <a routerLink="/contact-info" class="about-link">
        <h2> 🔗 About Us 🔗  </h2>
      </a>
      <p>Follow us on social media:</p>
      <div class="social-icons">
        <img src="assets/images/logos/facebook.jpg" alt="Facebook">
        <img src="assets/images/logos/instagram.jpg" alt="Instagram">
        <img src="assets/images/logos/youtube.jpg" alt="YouTube">
        <img src="assets/images/logos/pinterest.jpg" alt="Pinterest">
      </div>
    </div>
    <div class="site-footer">
      <p>© 2024 MyRecipeBook. All rights reserved.</p>
      <p class="project-note">Project for demonstration purposes.</p>
    </div>
  </div>