<div class="categories-screen">
  <!-- Заглавие на екрана -->
  <h1>{{title}}</h1>

  <h2 class="screen-title">Салати</h2>

  <!-- Навигационни бутони -->
  <app-navigation [activePage]="'/salads'"></app-navigation>

  <!-- Хоризонтална линия -->
  <hr class="divider-line">

  <!-- филтър салати -->
  <div class="search-box-wrapper">
    <div class="search-box-container">
    <input class="search-input" type="text" [(ngModel)]="searchQuery"    (input)="filterSalads()"  placeholder="Търси салата">
    <!-- <button  class="search-button" (click)="filterSalads()">Търси 🔍</button> -->
  </div>
   
    <ul *ngIf="autocompleteSuggestions.length > 0 && searchQuery.trim() !== ''" class="autocomplete-list">
      <li *ngFor="let suggestion of autocompleteSuggestions" (click)="selectSuggestedSalad(suggestion)">
        {{ suggestion.name }}
      </li>
    </ul>
    <!-- тест за филтрациите -->
    <!-- <ul>  
        <li *ngFor="let salad of filteredSalads" (click)="selectSalad(salad)">
    {{ salad.name }}
        </li>
      </ul> -->
  </div>

  <hr class="divider-line">
  
  <div class="content-container">
    <!-- Лява част: списък със салати -->
    <div class="categories-list">
      <ul>
        <li *ngFor="let salad of filteredSalads" (click)="selectSalad(salad)"> {{ salad.name }} </li>
      </ul>
    </div>

    <!-- Средна част: текст с рецепта -->
    <div class="recipe-details" *ngIf="selectedSalad">
      <h2>{{ selectedSalad.name }}</h2>
      <!-- изолираме изображението защото не ни трябва -->
      <!-- <img [src]="selectedSoup.image" alt="{{ selectedSoup.name }}" /> -->
      <h3>Съставки:</h3>
      <ul>
        <li *ngFor="let ingredient of selectedSalad.ingredients">
          {{ ingredient }}
        </li>
      </ul>
      <h3>Описание:</h3>
      <p>{{ selectedSalad.description }}</p>
    </div>

    <!-- Дясна част: снимки на салати -->
    <div *ngIf="selectedSalad?.images && selectedSalad?.images.length > 0">
      <div class="category-images-grid">
        <img *ngFor="let image of selectedSalad.images" [src]="image" [alt]="'Снимка на ' + selectedSalad.name">
      </div>
    </div>
  </div>

<!-- най-долна част , за инфо на приложението -->
<div class="footer">
  <a routerLink="/contact-info" class="about-link">
    <h2> 🔗 За нас 🔗  </h2>
  </a>
  <p class="nadpis">Следвайте ни в социалните мрежи:</p>
  <div class="social-icons">
    <img src="assets/images/logos/facebook.jpg" alt="Facebook">
    <img src="assets/images/logos/instagram.jpg" alt="Instagram">
    <img src="assets/images/logos/youtube.jpg" alt="YouTube">
    <img src="assets/images/logos/pinterest.jpg" alt="Pinterest">
  </div>
</div>

<div class="site-footer">
  <p>© 2024 MyRecipeBook. Всички права запазени.</p>
  <p class="project-note">Проект за демонстрационни цели</p>
</div>
</div>