<div class="categories-screen">
  <h1>{{ title }}</h1>

  <h2 class="screen-title">Main Dishes</h2>

  <div class="navigation-app">
    <app-navigation [activePage]="'/main-dishes'"></app-navigation>
  </div>
  <hr class="divider-line">
  
  <!-- филтър салати -->
  <div class="search-box-wrapper">
    <div class="search-box-container">
    <input class="search-input" type="text" [(ngModel)]="searchQuery"  (input)="filterMainDishes()" placeholder="Търси ястие">
  </div>
   
    <!-- тест за филтрациите -->
    <ul *ngIf="autocompleteSuggestions.length > 0 && searchQuery.trim() !== ''" class="autocomplete-list">
      <li *ngFor="let suggestion of autocompleteSuggestions" (click)="selectSuggestedMainDishes(suggestion)">
        {{ suggestion.name }}
      </li>
    </ul>
  </div>

  <hr class="divider-line">

  <div class="content-container">
    <!-- Лява част: списък със салати -->
    <div class="categories-list">
      <ul>
        <li *ngFor="let mainDish of filteredMainDishes" (click)="selectMainDishes(mainDish)"> {{ mainDish.name }} </li>
      </ul>
    </div>

    <!-- Средна част: текст с рецепта -->
    <div class="recipe-details" *ngIf="selectedMainDishes">
      <h2>{{ selectedMainDishes.name }}</h2>
      <!-- изолираме изображението защото не ни трябва -->
      <!-- <img [src]="selectedSoup.image" alt="{{ selectedSoup.name }}" /> -->
      <h3>Съставки:</h3>
      <ul>
        <li *ngFor="let ingredient of selectedMainDishes.ingredients">
          {{ ingredient }}
        </li>
      </ul>
      <h3>Описание:</h3>
      <p>{{ selectedMainDishes.description }}</p>
    </div>

    <!-- Дясна част: снимки на салати -->
    <div *ngIf="selectedMainDishes?.images && selectedMainDishes?.images.length > 0">
      <div class="category-images-grid">
        <img *ngFor="let image of selectedMainDishes.images" [src]="image" [alt]="'Снимка на ' + selectedMainDishes.name">
      </div>
    </div>
  </div>

    <!-- най-долна част , за инфо на приложението -->
  <div class="footer">
    <a routerLink="/contact-info" class="about-link">
      <h2> 🔗 About Us 🔗  </h2>
    </a>
    <p class="nadpis">Follow us on social media:</p>
    <div class="social-icons">
      <img src="assets/images/logos/facebook.jpg" alt="Facebook">
      <img src="assets/images/logos/instagram.jpg" alt="Instagram">
      <img src="assets/images/logos/youtube.jpg" alt="YouTube">
      <img src="assets/images/logos/pinterest.jpg" alt="Pinterest">
    </div>
  </div>
  
  <div class="site-footer">
    <p>© 2024 MyRecipeBook. All rights reserved.</p>
    <p class="project-note">Project for demonstration purposes.</p>
  </div>
</div>