<div class="categories-screen">
  <h1>{{ title }}</h1>

  <h2 class="screen-title">Основни ястия</h2>

  <app-navigation [activePage]="'/main-dishes'"></app-navigation>

  <hr class="divider-line">

  <div class="content-container">
    <!-- Лява част: списък със салати -->
    <div class="categories-list">
      <ul>
        <li *ngFor="let mainDish of mainDishes" (click)="selectMainDishes(mainDish)"> {{ mainDish.name }} </li>
      </ul>
    </div>

    <!-- Средна част: текст с рецепта -->
    <div class="recipe-details" *ngIf="selectedMainDishes">
      <h2>{{ selectedMainDishes.name }}</h2>
      <!-- изолираме изображението защото не ни трябва -->
      <!-- <img [src]="selectedSoup.image" alt="{{ selectedSoup.name }}" /> -->
      <h3>Съставки:</h3>
      <ul>
        <li *ngFor="let ingredient of selectedMainDishes.ingredients">
          {{ ingredient }}
        </li>
      </ul>
      <h3>Описание:</h3>
      <p>{{ selectedMainDishes.description }}</p>
    </div>

    <!-- Дясна част: снимки на салати -->
    <div *ngIf="selectedMainDishes?.images && selectedMainDishes?.images.length > 0">
      <div class="category-images-grid">
        <img *ngFor="let image of selectedMainDishes.images" [src]="image" [alt]="'Снимка на ' + selectedMainDishes.name">
      </div>
    </div>
  </div>

  <div class="footer">
    <h2>За нас</h2>
    <p>Следвайте ни в социалните мрежи:</p>
    <div class="social-icons">
      <img src="facebook-icon.png" alt="Facebook">
      <img src="instagram-icon.png" alt="Instagram">
      <img src="youtube-icon.png" alt="YouTube">
      <img src="pinterest-icon.png" alt="Pinterest">
    </div>
  </div>
</div>