<div class="categories-screen">
  <!-- Заглавие на екрана -->
  <h1>{{title}}</h1>

  <h2 class="screen-title">Soups</h2>

  <!-- Навигационни бутони -->
  <div class="navigation-app">
    <app-navigation [activePage]="'/soups'"></app-navigation>
  </div>

  <!-- search-section -->
  <hr class="divider-line">

  <!-- Търсачка/Филтър за супите -->
  <div class="search-box-wrapper">
    <p>Filter Limited by 5</p>
    <div class="search-box-container">
      <input class="search-input" type="text" [(ngModel)]="searchQuery" (input)="filterSoups()" placeholder="Търси супа">
      <!-- <button class="search-button" (click)="filterSoups()">Търси 🔍</button> -->
    </div>
  
    <ul *ngIf="autocompleteSuggestions.length > 0 && searchQuery.trim() !== ''" class="autocomplete-list">
      <li *ngFor="let suggestion of autocompleteSuggestions" (click)="selectSuggestedSoup(suggestion)">
        {{ suggestion.name }}
      </li>
    </ul>
  </div>

  
  <!-- <input   type="text"   [(ngModel)]="searchQuery"   (input)="filterSoups()"   placeholder="Търсете супа..." />

<ul *ngIf="autocompleteSuggestions.length > 0" class="autocomplete-list">
  <li 
    *ngFor="let suggestion of autocompleteSuggestions" (click)="selectSuggestedSoup(suggestion)">
    {{ suggestion.name }}
  </li>
</ul> -->
  
  <hr class="divider-line">

    <!-- Лява част: списък със супи -->
  <div class="content-container">
    <div class="categories-list">
      <ul>
        <!-- филтрираните супи по критерии изобразява с бутона в новата логика -->
        <li *ngFor="let soup of filteredSoups" (click)="selectSoup(soup)">
          {{ soup.name }}
        </li>
      </ul>
    </div>
  
    <!-- Средна част: текст с рецепта -->
    <div class="recipe-details" *ngIf="selectedSoup">
      <h2>{{ selectedSoup.name }}</h2>
      <!-- изолираме изображението защото не ни трябва -->
      <!-- <img [src]="selectedSoup.image" alt="{{ selectedSoup.name }}" /> -->
      <h3>Съставки:</h3>
      <ul>
        <li *ngFor="let ingredient of selectedSoup.ingredients">
          {{ ingredient }}
        </li>
      </ul>
      <h3>Описание:</h3>
      <p>{{ selectedSoup.description }}</p>
    </div>
  
    <!-- дясна част зареждане на снимка -->
    <div *ngIf="selectedSoup?.images && selectedSoup?.images.length > 0">
      <div class="category-images-grid">
        <img *ngFor="let image of selectedSoup.images" [src]="image" [alt]="'Снимка на ' + selectedSoup.name">
      </div>
    </div>
  </div>

  <!-- долна част меню -->
 <!-- най-долна част , за инфо на приложението -->
 <div class="footer">
  <a routerLink="/contact-info" class="about-link">
    <h2> 🔗 About Us 🔗  </h2>
  </a>
  <p class="nadpis">Follow us on social media:</p>
  <div class="social-icons">
    <img src="assets/images/logos/facebook.jpg" alt="Facebook">
    <img src="assets/images/logos/instagram.jpg" alt="Instagram">
    <img src="assets/images/logos/youtube.jpg" alt="YouTube">
    <img src="assets/images/logos/pinterest.jpg" alt="Pinterest">
  </div>
</div>

<div class="site-footer">
  <p>© 2024 MyRecipeBook. All rights reserved.</p>
  <p class="project-note">Project for demonstration purposes.</p>
</div>
</div>

