<div class="categories-screen">
  <!-- Заглавие на екрана -->
  <h1>{{title}}</h1>

  <h2 class="screen-title">Супи</h2>

  <!-- Навигационни бутони -->
  <app-navigation [activePage]="'/soups'"></app-navigation>

  <!-- search-section -->
  <hr class="divider-line">

  <!-- Търсачка/Филтър за супите -->
  <div class="search-box-wrapper">
    <div class="search-box-container">
      <input class="search-input" type="text" [(ngModel)]="searchQuery" (input)="filterSoups()" placeholder="Търси супа">
      <!-- <button class="search-button" (click)="filterSoups()">Търси 🔍</button> -->
    </div>
  
    <ul *ngIf="autocompleteSuggestions.length > 0 && searchQuery.trim() !== ''" class="autocomplete-list">
      <li *ngFor="let suggestion of autocompleteSuggestions" (click)="selectSuggestedSoup(suggestion)">
        {{ suggestion.name }}
      </li>
    </ul>
  </div>

  
  <!-- <input   type="text"   [(ngModel)]="searchQuery"   (input)="filterSoups()"   placeholder="Търсете супа..." />

<ul *ngIf="autocompleteSuggestions.length > 0" class="autocomplete-list">
  <li 
    *ngFor="let suggestion of autocompleteSuggestions" (click)="selectSuggestedSoup(suggestion)">
    {{ suggestion.name }}
  </li>
</ul> -->
  
  <hr class="divider-line">

    <!-- Лява част: списък със супи -->
  <div class="content-container">
    <div class="categories-list">

      <ul>
        <!-- филтрираните супи по критерии изобразява с бутона в новата логика -->
        <li *ngFor="let soup of filteredSoups" (click)="selectSoup(soup)">
          {{ soup.name }}
        </li>
      </ul>
    </div>
  
    <!-- Средна част: текст с рецепта -->
    <div class="recipe-details" *ngIf="selectedSoup">
      <h2>{{ selectedSoup.name }}</h2>
      <!-- изолираме изображението защото не ни трябва -->
      <!-- <img [src]="selectedSoup.image" alt="{{ selectedSoup.name }}" /> -->
      <h3>Съставки:</h3>
      <ul>
        <li *ngFor="let ingredient of selectedSoup.ingredients">
          {{ ingredient }}
        </li>
      </ul>
      <h3>Описание:</h3>
      <p>{{ selectedSoup.description }}</p>
    </div>
  

    <div *ngIf="selectedSoup?.images && selectedSoup?.images.length > 0">
      <div class="category-images-grid">
        <img *ngFor="let image of selectedSoup.images" [src]="image" [alt]="'Снимка на ' + selectedSoup.name">
      </div>
    </div>
  </div>

  <!-- долна част меню -->
  <div class="footer">
    <h2>За нас</h2>
    <p>Следвайте ни в социалните мрежи:</p>
    <div class="social-icons">
      <img src="facebook-icon.png" alt="Facebook">
      <img src="instagram-icon.png" alt="Instagram">
      <img src="youtube-icon.png" alt="YouTube">
      <img src="pinterest-icon.png" alt="Pinterest">
    </div>
  </div>  
</div>

