<div class="categories-screen">
  <!-- Заглавие на екрана -->
  <h1>{{title}}</h1>

  <h2 class="screen-title">Супи</h2>

  <!-- Навигационни бутони -->
  <app-navigation [activePage]="'/soups'"></app-navigation>
  <!-- <div class="navigation-buttons">
    <button routerLink="/" class="back-to-home-btn">Начало</button>
    <button class="nav-btn">Основни ястия</button>
    <button class="nav-btn">Десерти</button>
    <button class="nav-btn">Гарнитури</button>
  </div> -->

  <!-- Хоризонтална линия -->
  <hr class="divider-line">

  <div class="content-container">
    <!-- Лява част: списък със супи -->
    <div class="categories-list ">
      <ul>
        <li>Супа топчета</li>
        <li>Шкембе чорба</li>
        <li>Боб чорба</li>
        <li>Леща супа</li>
        <li>Картофена крем супа</li>
        <li>Гъбена супа</li>
        <li>Пилешка супа</li>
        <li>Зеленчукова супа</li>
        <li>Рибена супа</li>
        <li>Тиквена супа</li>
      </ul>
    </div>

    <!-- Средна част: текст с рецепта -->
    <div class="recipe-details">
      <p>Тук ще бъде описанието на рецептата за избраната супа. Засега това е формален текст.</p>
    </div>

    <!-- Дясна част: снимки на супи -->
    <div class="soup-images">
      <img src="https://via.placeholder.com/150" alt="Снимка на супа">
      <img src="https://via.placeholder.com/150" alt="Снимка на супа">
      <img src="https://via.placeholder.com/150" alt="Снимка на супа">
    </div>
  </div>
  <div class="footer">
    <h2>За нас</h2>
    <p>Следвайте ни в социалните мрежи:</p>
    <div class="social-icons">
      <img src="facebook-icon.png" alt="Facebook">
      <img src="instagram-icon.png" alt="Instagram">
      <img src="youtube-icon.png" alt="YouTube">
      <img src="pinterest-icon.png" alt="Pinterest">
    </div>
  </div>  
</div>

