<div *ngIf="loggedUser" class="user-greeting">
    <!-- 🔥 Бутон за админ, който се показва само за администратори -->
    <button *ngIf="loggedUser.role === 'admin'" routerLink="admin-panel-onlinedb">Admin panel</button>
    <button *ngIf="loggedUser.role === 'user'" routerLink="user-panel-onlinedb">Recipe Management</button>
    <button (click)="addRecipe()">Add Recipe</button>    
    <button (click)="deleteAccount()">Delete Account</button>
    <button (click)="logOut()">Logout</button>
</div>