<div class="page-wrapper">
  <h1>{{ title }}</h1>

  <!-- средна част за стилизиране -->
  <div class="admin-panel">
    <p>Logged as:"{{ userName }}"</p>
    <!-- <h1>Админ Панел</h1> -->

    <div class="admin-register-container">
      <button (click)="showAdminForm = !showAdminForm" class="toggle-btn">
          {{ showAdminForm ? 'Hide register' : 'Register Admin/User' }}
      </button>
  
      <div  *ngIf="showAdminForm"  class="checkbox-box">
          <input type="checkbox" [(ngModel)]="isAdmin" id="adminCheck">
          <label for="adminCheck">Register as Admin</label>
      </div>
    </div>    
    <!-- Показва регистрационната форма само ако showAdminForm е true -->
    <app-register-form-component-online-db *ngIf="showAdminForm" [isAdmin]="isAdmin">        
    </app-register-form-component-online-db>
    <br>

    <hr *ngIf="showAdminForm">
    <!-- таблици -->
    <h2>User Control</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>E-mail</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button (click)="deleteUser(user.id)">Delete</button>
          <!-- <button *ngIf="user.role !== 'admin'" (click)="grantAdmin(user.id)">Направи админ</button> -->
        </td>
      </tr>
    </table>
  
    <br>
    <hr>
    <h2>Recipe Control</h2>
    <table>
        <tr>
          <th>Recipe Author</th>
          <th>Recipe Name</th>
          <th>Ingredients</th>
          <th>Recipe Description</th>
          <th>Actions</th>
        </tr>
        
        <tr *ngFor="let recipe of recipes">
          <td>{{ recipe.user.first_name }} {{ recipe.user.last_name }}</td>
          <td>{{ recipe.recipe_name }}</td>
          <td>{{ recipe.ingredients }}</td>
          <td>{{ recipe.description }}</td>
          <td>
            <button (click)="editRecipe(recipe)">Edit</button>
            <button (click)="deleteRecipe(recipe.id)">Delete</button>
          </td>
        </tr>
      </table>

      <!-- редактиране на рецепти -->
      <div *ngIf="showEditForm">
        <h3>Edit Recipe</h3>
        <label>Name:</label>
        <input [(ngModel)]="selectedRecipe.recipe_name" />
      
        <label>Ingredients:</label>
        <input [(ngModel)]="selectedRecipe.ingredients" />
        <label>Description:</label>
        <textarea [(ngModel)]="selectedRecipe.description"></textarea>
      
        <button (click)="updateRecipe()">Save</button>
        <button (click)="cancelEdit()">Cancel</button>
      </div>

    
      <button class="back-position" routerLink="/">⬅ Back to Home Page</button>
    </div>
      
    <!-- Долна част стилизирана не я барам -->
    <div class="footer">
      <a routerLink="/contact-info" class="about-link">
        <h2> 🔗 About Us 🔗  </h2>
      </a>
      <p>Follow us on social media:</p>
      <div class="social-icons">
        <img src="assets/images/logos/facebook.jpg" alt="Facebook">
        <img src="assets/images/logos/instagram.jpg" alt="Instagram">
        <img src="assets/images/logos/youtube.jpg" alt="YouTube">
        <img src="assets/images/logos/pinterest.jpg" alt="Pinterest">
      </div>
    </div>
    <div class="site-footer">
      <p>© 2024 MyRecipeBook. All rights reserved.</p>
      <p class="project-note">Project for demonstration purposes.</p>
  </div>
</div>