<div class="login-container">
    <h2>OnlineDB Section</h2>
    <h2>Вход</h2>
    <label>Имейл:</label>
    <input [(ngModel)]="email" type="email">
    <label>Парола:</label>
    <input [(ngModel)]="password" type="password">
    <br>
    <div class="button-group">
      <button (click)="login()">Вход</button>
      <!-- <button routerLink="/register" class="register-button">Регистрация</button> -->
      <button (click)="navigateToRegister()" class="register-button">
        Регистрация
      </button>
    </div>
</div>
  