<div class="page-wrapper">
    <h1>{{ title }}</h1>
    <div class="registration-container">
      <h2 class="page-title">Регистрация в SQL-DB</h2>   
  </div>
  
  <!-- register form -->
    <app-register-form-component-my-sql></app-register-form-component-my-sql>

     <!-- най-долна част , за инфо на приложението -->
     <div class="footer">
      <h2>За нас</h2>
      <p>Следвайте ни в социалните мрежи:</p>
      <div class="social-icons">
        <img src="assets/images/logos/facebook.jpg" alt="Facebook">
        <img src="assets/images/logos/instagram.jpg" alt="Instagram">
        <img src="assets/images/logos/youtube.jpg" alt="YouTube">
        <img src="assets/images/logos/pinterest.jpg" alt="Pinterest">
      </div>
    </div>
    <div class="site-footer">
      <p>© 2024 MyRecipeBook. Всички права запазени.</p>
      <p class="project-note">Проект за демонстрационни цели</p>
    </div>
  </div>