<div class="page-wrapper">
    <h1>{{ title }}</h1>
    <div class="registration-container">
      <h2 class="page-title">Регистрация в SQL-DB</h2>   
  </div>
  
  <!-- register form -->
    <app-register-form-component-my-sql></app-register-form-component-my-sql>

     <!-- най-долна част , за инфо на приложението -->
     <div class="footer">
      <h2>За нас</h2>
      <p>Следвайте ни в социалните мрежи:</p>
      <div class="social-icons">
        <img src="assets/images/logos/download.jpg" alt="Facebook">
        <img src="instagram-icon.png" alt="Instagram">
        <img src="youtube-icon.png" alt="YouTube">
        <img src="pinterest-icon.png" alt="Pinterest">
      </div>
    </div>
  </div>