<div class="page-wrapper">
    <h1>{{ title }}</h1>
    <hr> 
    <!-- <div id="map" style="height: 500px; width: 100%;"></div> -->
    <h3 class="brand-title">🍳 Recipe Book application:</h3>

    <button class="home-button" routerLink="/">
      <i class="material-icons">home</i>Home Page
  </button>


  <div class="book-container">
  <!-- ENG-part -->
    <div class="book-page left-page">
      <div class="content-section">
        <h2>1. Brief Summary/Plan for the Application and Information About the Developer:</h2>
        <div class="formatted-text" [innerHTML]="formatText(contentEN.section1)"></div>
      </div>
      <div class="content-section">
        <h2>2. Scope of Application Development and Key Ideas in the Creation Process. Technologies and Methodologies Used</h2>
        <div class="formatted-text" [innerHTML]="formatText(contentEN.section2)"></div>
      </div>
      <div class="content-section">
        <h2>3. Part of the Main Implemented Functionalities</h2>
        <div class="formatted-text" [innerHTML]="formatText(contentEN.section3)"></div>
      </div>
      <div class="content-section">
        <h2>4. Acquired Knowledge During the Development of the Application</h2>
        <div class="formatted-text" [innerHTML]="formatText(contentEN.section4)"></div>
      </div>
      <div class="content-section">
        <h2>5. How It Fits into a Real Business Environment</h2>
        <div class="formatted-text" [innerHTML]="formatText(contentEN.section5)"></div>
      </div>
    </div>
  

    <!-- BG-Part -->
    <div class="book-page right-page">
      <!-- Първите две секции -->
      <div class="content-section">
        <h2>1. Кратко резюме/план за приложението и информация за разработчика:</h2>
        <div class="formatted-text" [innerHTML]="formatText(content1)"></div>
      </div>
      <div class="content-section">
        <h2>2. Обхват на разработката на приложението и основни идеи при създаване на приложението. Технологии и методологии, които са използвани:</h2>
        <div class="formatted-text" [innerHTML]="formatText(content2)"></div>
      </div>
      <div class="content-section">
        <h2>3. Част от основните имплементирани функционалности:</h2>
        <div class="formatted-text" [innerHTML]="formatText(content3)"></div>
      </div>
      <div class="content-section">
        <h2>4. Придобити знания при изграждането на приложението:</h2>
        <div class="formatted-text" [innerHTML]="formatText(content4)"></div>
      </div>
      <div class="content-section">
        <h2>5. Как се вписва в реална бизнес среда:</h2>
        <div class="formatted-text" [innerHTML]="formatText(content5)"></div>
      </div>
    </div>
  </div>

    <!-- най-долна част , за инфо на приложението -->
    <div class="footer">
      <a routerLink="/contact-info" class="about-link">
        <h2> 🔗 About Us 🔗  </h2>
      </a>
      <p class="nadpis">Follow us on social media:</p>
      <div class="social-icons">
        <img src="assets/images/logos/facebook.jpg" alt="Facebook">
        <img src="assets/images/logos/instagram.jpg" alt="Instagram">
        <img src="assets/images/logos/youtube.jpg" alt="YouTube">
        <img src="assets/images/logos/pinterest.jpg" alt="Pinterest">
      </div>
    </div>
    
    <div class="site-footer">
      <p>© 2024 MyRecipeBook. All rights reserved.</p>
      <p class="project-note">Project for demonstration purposes.</p>
    </div>
</div>