<div class="page-wrapper">
    <h1>{{ title }}</h1>
    <hr> 
    <!-- <div id="map" style="height: 500px; width: 100%;"></div> -->
    <h3 class="brand-title">🍳 Recipe Book application:</h3>

    <button class="home-button" routerLink="/">
      <i class="material-icons">home</i>Home Page
  </button>


  <div class="book-container">
    <div class="book-page left-page">
      <div class="content-section" *ngFor="let section of sections">
        <h2>{{ section | titlecase }}</h2>
        <p>{{ content[section].en }}</p>
      </div>
    </div>
  
    <div class="book-page right-page">
      <div class="content-section" *ngFor="let section of sections">
        <h2>{{ section | titlecase }}</h2>
        <p>{{ content[section].bg }}</p>
      </div>
    </div>
  </div>
    <!-- най-долна част , за инфо на приложението -->
  
    <div class="footer">
      <a routerLink="/contact-info" class="about-link">
        <h2> 🔗 About Us 🔗  </h2>
      </a>
      <p class="nadpis">Follow us on social media:</p>
      <div class="social-icons">
        <img src="assets/images/logos/facebook.jpg" alt="Facebook">
        <img src="assets/images/logos/instagram.jpg" alt="Instagram">
        <img src="assets/images/logos/youtube.jpg" alt="YouTube">
        <img src="assets/images/logos/pinterest.jpg" alt="Pinterest">
      </div>
    </div>
    
    <div class="site-footer">
      <p>© 2024 MyRecipeBook. All rights reserved.</p>
      <p class="project-note">Project for demonstration purposes.</p>
    </div>
</div>