<!-- <div *ngIf="loggedUserMYSQL" class="user-greeting"> -->
    <!-- <p>Добре дошъл, {{ loggedUserMYSQL.name }}!</p> -->
    <!--<button (click)="addRecipe()"   routerLink="/add-recipe">Добави рецепта</button>
    <button (click)="logOut()">Изход</button>
</div> -->

<div *ngIf="loggedUserMYSQL" class="user-greeting">
       <!-- 🔥 Бутон за админ, който се показва само за администратори -->
       <button *ngIf="loggedUserMYSQL.role === 'admin'" routerLink="admin-panel">Admin Panel</button>
       <button *ngIf="loggedUserMYSQL.role === 'user'" routerLink="user-panel">Recipe Management</button>
    <button (click)="addRecipe()">Add Recipe</button>    
    <button (click)="deleteAccount()">Delete Account</button>
    <button (click)="logOut()">Logout </button>
</div>