<h1>{{ title }}</h1>

<!-- Бутон за превключване на видимостта на категориите -->
<button (click)="toggleCategories()">{{ showCategories ? 'Скрий категории' : 'Покажи категории' }} </button>

<!-- Категории -->
<!-- това тук работи и за бутона покажи скрий категории -->
<div *ngIf="showCategories" class="category-list">
  <div *ngFor="let category of categories" class="category-item">
    <a [routerLink]="getCategoryRoute(category.name)">
      <img [src]="category.image" alt="{{ category.name }}">
      <p>{{ category.name }}</p>
    </a>
  </div>
</div>

<!-- Любими рецепти -->
<button (click)="toggleFavorites()">
  {{ showFavorites ? 'Скрий любими рецепти' : 'Покажи любими рецепти' }}
</button>

<ul *ngIf="showFavorites">
  <li *ngFor="let recipe of favoriteRecipes">
    <h3>{{ recipe.name }}</h3>
    <p>{{ recipe.description }}</p>
  </li>
</ul>