<div class="page-wrapper">
  <h1>{{ title }}</h1>

  <!-- <h2>Нашите рецепти</h2> -->

  <!-- Падащи менюта -->
  <div class="menu-selectors">
    <select>
      <option>Меню за закуска</option>
    </select>
    <select>
      <option>Меню за обяд</option>
    </select>
    <select>
      <option>Меню за вечеря</option>
    </select>
  </div>

  <!-- Бутон за показване/скриване на категории -->
  <button (click)="toggleCategories()">
    {{ showCategories ? 'Скрий категории' : 'Покажи категории' }}
  </button>

  <div *ngIf="showCategories" class="category-grid">
    <div *ngFor="let category of categories" class="category-item">
      <a [routerLink]="getCategoryRoute(category.name)">
        <img [src]="category.image" alt="{{ category.name }}">
        <p>{{ category.name }}</p>
      </a>
    </div>
  </div>

  <!-- Бутон за любими рецепти -->
  <button (click)="toggleFavorites()" class="toggle-favorites-button">
    {{ showFavorites ? 'Скрий любими рецепти' : 'Покажи любими рецепти' }}
  </button>

  <ul *ngIf="showFavorites">
    <li *ngFor="let recipe of favoriteRecipes">
      <h3>{{ recipe.name }}</h3>
      <p>{{ recipe.description }}</p>
    </li>
  </ul>

  <!-- най-долна част , за инфо на приложението -->
  <div class="footer">
    <h2>За нас</h2>
    <p>Следвайте ни в социалните мрежи:</p>
    <div class="social-icons">
      <img src="facebook-icon.png" alt="Facebook">
      <img src="instagram-icon.png" alt="Instagram">
      <img src="youtube-icon.png" alt="YouTube">
      <img src="pinterest-icon.png" alt="Pinterest">
    </div>
  </div>
</div>