
<div class="page-wrapper">
  
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let img of images">
        <img [src]="img" alt="Swiper image" />
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <br>
  <h1>{{ title }}</h1>
  <hr>

  <!-- показва записи от базата упражнение-->
  <!-- <app-user-mysql></app-user-mysql> -->


  <!-- Секция за Вход и Регистрация .JSON LOCAL ISOLATED-->
    <!-- Бутон за вход (видим само ако НЕ е логнат) -->
  <!-- <div class="register-menu-position">    -->
  <!-- Parent Button & Menu -->

  <button class="app-info-button" routerLink="/app-info">
    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="university" class="svg-icon" role="img" xmlns="http://www.w3.org/2000/s" viewBox="0 0 512 512">
      <path fill="currentColor" d="M496 128v16a8 8 0 0 1-8 8h-24v12c0 6.627-5.373 12-12 12H60c-6.627 0-12-5.373-12-12v-12H24a8 8 0 0 1-8-8v-16a8 8 0 0 1 4.941-7.392l232-88a8 8 0 0 1 6.118 0l232 88A8 8 0 0 1 496 128zm-24 304H40c-13.255 0-24 10.745-24 24v16a8 8 0 0 0 8 8h464a8 8 0 0 0 8-8v-16c0-13.255-10.745-24-24-24zM96 192v192H60c-6.627 0-12 5.373-12 12v20h416v-20c0-6.627-5.373-12-12-12h-36V192h-64v192h-64V192h-64v192h-64V192H96z"></path>
    </svg>
    Main Details for Application History and Developer
  </button>

  <!-- local Registrations -->
  <div class="auth-container">
    <button 
      class="main-auth-button"
      (click)="toggleMainMenu()"
    >
      {{ isMainMenuOpen ? 'Hide Login Options &uArr;' : 'Login/Register &dArr;' }}
    </button>

    <div *ngIf="isMainMenuOpen" class="auth-options">
      <!-- Local DB Auth -->
      <button 
        class="auth-option-button"
        *ngIf="!isLogged"
        (click)="toggleMenu()"
      >
        {{ isMenuOpen ? 'Hide Local DB ' : 'Local DB ' }}
      </button>
      
      <!-- MySQL Auth -->
      <button 
        class="auth-option-button"
        *ngIf="!isLoggedMySQL"
        (click)="toggleMySqlRegistrationForm()"
      >
        {{ showRegisterFormMysql ? 'Hide MySQL ' : 'MySQL ' }}
      </button>
    </div>

    <!-- Auth Components -->
    <div class="auth-components" *ngIf="isMainMenuOpen && (isMenuOpen || showRegisterFormMysql)">
      <div *ngIf="isMenuOpen && !isLogged">
        <app-user-control></app-user-control>
      </div>
      
      <div *ngIf="showRegisterFormMysql && !isLoggedMySQL">
        <app-user-control-mysql></app-user-control-mysql>
      </div>
    </div>
  </div>

  <!-- Logged State -->
  <div *ngIf="isLogged">
    <h2>Hello - {{ userName }}</h2>
    <app-logged-button></app-logged-button>
  </div>

  <div *ngIf="isLoggedMySQL">
    <h2>Welcome: {{ userNameMySQL }}</h2>
    <app-logged-button-mysql></app-logged-button-mysql>
  </div>

    <hr>

      <!-- секция ONLINE-DB LOGIN/REGISTER-->
   <div class="register-menu-position">
    <button 
      *ngIf="!isLoggedOnlineDB" 
      (click)="toggleOnlineDBRegistrationForm()" 
      class="toggle-favorites-button-online"
      >
      {{ showRegisterFormOnlineDB ? 'Hide Login/Register &uArr; OnlineDB' : 'Login/Register &dArr; OnlineDB' }}
    </button>
    <div *ngIf="showRegisterFormOnlineDB || isLoggedOnlineDB">
      <div *ngIf="!isLoggedOnlineDB">  
        <app-user-control-online-db></app-user-control-online-db>
      </div>
      <div *ngIf="isLoggedOnlineDB">
        <h2>Welcome: {{ userNameOnlineDB }}</h2>
        <app-logged-button-onlinedb></app-logged-button-onlinedb>
      </div>
    </div>
  </div>

    <hr>

    <!-- ПАДАЩИ МЕНЮТА нов -->
  <app-daily-menu></app-daily-menu>

  <!-- Логин -->  
  <router-outlet></router-outlet>
  
  <!-- Бутон за показване/скриване на категории -->
  <!-- <button (click)="toggleCategories()">
    {{ showCategories ? 'Скрий категории' : 'Покажи категории' }}
  </button> -->
  <br>
  <!-- категории -->
  <div class="categories-container">
    <h3 class="grid-title">Delicate Curated Recipes for a Healthy and Balanced Lifestyle</h3>
    <div *ngIf="showCategories" class="category-grid">    
      <div *ngFor="let category of categories" class="category-item">
        <a [routerLink]="getCategoryRoute(category.name)">
          <img [src]="category.image" alt="{{ category.name }}">
          <p>{{ category.name }}</p>
        </a>
      </div>
    </div>
  </div>

  <!-- Бутон за любими рецепти -->
  <button (click)="toggleFavorites()" class="toggle-favorites-button">
    {{ showFavorites ? 'Hide favourtie recipes' : 'Show favorite recipes' }}
  </button>
  <!-- <ul *ngIf="showFavorites">
    <li *ngFor="let recipe of favoriteRecipes">
      <h3>{{ recipe.name }}</h3>
      <p>{{ recipe.description }}</p>
    </li>
  </ul> -->

  <div class="favorites-section" *ngIf="showFavorites">
    <h2>The choice for favourite recipes ❤️ </h2>
    <ul>
      <li *ngFor="let recipe of favoriteRecipes">
        <h3>{{ recipe.name }}</h3>
        <p>{{ recipe.description }}</p>
      </li>
    </ul>
  </div>

  <!-- най-долна част , за инфо на приложението -->
  <div class="footer">
    <a routerLink="/contact-info" class="about-link">
      <h2> 🔗 About Us 🔗  </h2>
    </a>
    <p class="nadpis">Follow us on social media:</p>
    <div class="social-icons">
      <img src="assets/images/logos/facebook.jpg" alt="Facebook">
      <img src="assets/images/logos/instagram.jpg" alt="Instagram">
      <img src="assets/images/logos/youtube.jpg" alt="YouTube">
      <img src="assets/images/logos/pinterest.jpg" alt="Pinterest">
    </div>
  </div>
  
  <div class="site-footer">
    <p>© 2024 MyRecipeBook. All rights reserved.</p>
    <p class="project-note">Project for demonstration purposes.</p>
  </div>
</div>