<div class="page-wrapper">
  <h1>{{ title }}</h1>

  <!-- Средна част -->
  <h2>Administrate your recipes in Online DB</h2>
    <p>Logged as: "{{ userName }}"</p>

      <div class="showEditForm">
        <h4>Your Personal recipes: {{userName}}</h4>
        <div class="table-container">
          <table>
            <tr>
              <th>Recipe Name</th>
              <th>Ingredients</th>
              <th>Description</th>
              <th>Action</th>
            </tr>
            <tr *ngFor="let recipe of recipes">
              <td>{{ recipe.recipe_name }}</td>
              <td>{{ recipe.ingredients }}</td>
              <td>{{ recipe.description }}</td>
              <td>
                <button (click)="editRecipe(recipe)">Edit</button>
                <button (click)="deleteRecipe(recipe.id)" class="delete">Delete Recipe</button>
              </td>
            </tr>
          </table>


        </div>   
        <!-- Форма за редактиране -->
        <div *ngIf="showEditForm">
          <h3>Edit Recipe</h3>
          <label>Name:</label>
          <input [(ngModel)]="selectedRecipe.recipe_name
          " />

          <label>Ingredients:</label>
          <input [(ngModel)]="selectedRecipe.ingredients" />

          <label>Description:</label>
          <textarea [(ngModel)]="selectedRecipe.description"></textarea>
        <div>
          <button (click)="updateRecipe()">Save</button>
          <button (click)="cancelEdit()">Cancel Edit</button>
        </div>     
      </div>


        <button class="back-position" routerLink="/">⬅ Back to Home Page</button>
      </div>

  <!-- Долна част (не я пипаме) -->
  <div class="footer">
    <a routerLink="/contact-info" class="about-link">
      <h2> 🔗 About Us 🔗 </h2>
    </a>
    <p>Follow us on social media:</p>
    <div class="social-icons">
      <img src="assets/images/logos/facebook.jpg" alt="Facebook">
      <img src="assets/images/logos/instagram.jpg" alt="Instagram">
      <img src="assets/images/logos/youtube.jpg" alt="YouTube">
      <img src="assets/images/logos/pinterest.jpg" alt="Pinterest">
    </div>
  </div>
  <div class="site-footer">
    <p>© 2024 MyRecipeBook. All rights reserved.</p>
    <p class="project-note">Project for demonstration purposes.</p>
  </div>
</div>